.timer {
  width: 100%;
  display: flex;
  justify-content: end;
}
.examQuestionBlock {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 20px;
  margin: 20px 0px;
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.questionBlock {
  max-width: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: gray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.success {
  background-color: green;
}
.remaning {
  background-color: red;
}
.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.btn {
  width: 100px;
  height: 30px;
  border: none;
}
.back {
  background-color: burlywood;
  color: black;
}
.submit {
  background-color: green;
  color: white;
}
.answerDiv {
  margin: 20px 0px;
}
.options {
  display: flex;
  align-items: center;
}
.options input[type="radio"] {
  transform: scale(1.5);
  margin: 10px 10px 10px 0px;
}

.title {
  margin: 20px 0px;
}

.textIn {
  width: 100%;
  height: 35px;
  padding-inline: 10px;
}
